.SkillInfoPanel {
    position: absolute;
    background-color: #91acc7;
    padding: 10px;
    font-size: 12pt;
    border-style: solid;
    border-width: 2px;
    border-color: #0169ba;
    z-index: 2;
    opacity: 0.9;
}

.SkillDescription {
    margin: 0;
    padding: 0;
    /* color: blue; */
    padding-bottom: 5px;
}

.levelGrowthElt {
    font-size: 10pt;
}

.SkillHeader {
    font-size: 15pt;
}

.SkillInfoTable table {
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}

span.AltName {
    font-size: 12pt;
}

.SkillInfoTable th, .SkillInfoTable td {
    border: 2px solid black;
    border-spacing: 0;
    padding: 5px;
    font-size: 11pt;
}